@font-face {
  font-family: "Source Sans Pro";
  src: url("Source_Sans_Pro/SourceSansPro-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 32px;
  color: #000000;
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
}

header {
   height: 100vh;
   position: relative;
   overflow: hidden;
   display: block;
  }

.header-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
}

.container {
  max-width: 928px;
  margin: 0 auto;
  padding: 0 16px;
  position: relative;
}

#description {
 margin-left: auto; 
}

.page-header {
  padding: 32px 0 32px;
  color: white;
}

.page-header .container {
  max-width: 1408px;
  text-align: right;
}

.page-footer .container {
  max-width: 1408px;
  text-align: center;
}

.page-header a {
  margin-left: 10px;
  color: #ffffff;
  text-decoration: none;
  background-position: left;
}

.header-email {
  padding-left: 30px;
  background-image: url("portfolio-images/img/icon-email-header.svg");
}

.header-phone {
  padding-left: 25px;
  background-image: url("portfolio-images/img/icon-phone-header.svg");
}

.hero-image {
  margin-bottom: 25%;
  margin-top: 15%;
  position: relative;
}

.hero-image .container {
  max-width: 1408px;
  text-align: center;
}

.heading {
  margin: 0 0 16px;
  font-family: "Source Sans Pro", "Times", "Times New Roman", sans-serif;
  font-size: 88px;
  line-height: 96px;
  font-weight: 400;
}

.hero-image p {
  margin: 0;
  font-size: 32px;
  line-height: 48px;
}

.intro {
  margin: 0 10% 15%;
  background-color: #ffffff;
  color: black;
}

.subheading {
  margin: 0 0 56px;
  font-family: "Source Sans Pro", "Times", "Times New Roman", serif;
  font-size: 64px;
  line-height: 80px;
  font-weight: 400;
  text-align: center;
}

.user-image {
  display: block;
  margin-right: 15px;
  float: left;
}

.intro h3,
.portfolio h3 {
  margin: 0 0 12px;
  font-size: 28px;
  line-height: 40px;
  font-weight: 500;
}

.intro p {
  margin: 0 0 32px;
}

.skills {
  margin: 0 13% 10%;
}

.skills-list {
  margin: 0;
  padding: 0;
}

.skills-list dt {
  padding-left: 32px;
  background-repeat: no-repeat;
  background-position: left;
}

.skill-html {
  background-image: url("portfolio-images/img/icon-html.svg");
}

.skill-css {
  background-image: url("portfolio-images/img/icon-css.svg");
}

.skill-js {
 background-image: url("portfolio-images/img/icon-js.png");
 line-height: 32px;
 max-width: 24px;
}

.level {
  margin: 4px 0 16px;
  padding: 0;
  height: 14px;
  font-size: 0;
  color: black;
  background-color: #ffffff;
  border: 1px solid #86c3fa;
  border-radius: 8px;
}

.level div {
  margin: 1px;
  height: 12px;
  background-color: #ffffff;
  border-radius: 6px;
}

.portfolio {
  background-color: #ffffff;
  color: black;
}

.projects {
  margin: 0;
  padding: 0;
  list-style: none;
}

.projects li {
  margin: 0 0 80px;
}

.project-image {
  margin: 0 0 24px;
  text-align: center;
}

.projects p {
  margin: 0 0 24px;
}

.button {
  padding: 6px 20px;
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #288be6;
  color: #ffffff;
}

.page-footer {
  padding: 40px 0;
  background-color: #ffffff;
  color: black;
}

.page-footer a {
  color: inherit;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
}

.footer-email {
  padding-left: 30px;
  background-image: url("portfolio-images/img/icon-email-footer.svg");
}

.footer-phone {
  padding-left: 25px;
  background-image: url("portfolio-images/img/icon-phone-footer.svg");
}

.aboutMe {
  float: left;
  padding: 0 2% 0;
  border-style: solid;
  border-color: white;
  border-radius: 12px;
}

.my_jobs {
  float: left;
  padding: 0 2% 0;
  border-style: solid;
  border-color: white;
  border-radius: 12px;
}

.canvas {
 display: flex; 
}

.skillsRow {
  display: flex;
  flex-wrap: wrap;
}

.skillsRow img {
  width: 150px;
}
